<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Values</title>
  </head>
  <body>
    <h1>Your random number is <%= num %></h1>
    <% if(num % 2 === 0) { %>
    <h2>Even Number</h2>
    <% } else { %>
    <h2>Odd Number</h2>
    <% } %>
  </body>
</html>
